.wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    #f0a237 0%,
    #f16736 50.31%,
    #ed3237 100%
  );
  z-index: 1;

  .title {
    margin-left: 44px;
    font-weight: 700;
    background: -webkit-linear-gradient(#f16736, #f0a237, #ed3237);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .background-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    position: relative;

    .rectangle1 {
      margin-left: -30%;

      position: absolute;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      width: 30%;
      height: 70%;
      background-image: linear-gradient(
        rgba(251, 188, 5),
        rgba(243, 128, 29),
        rgba(251, 188, 5)
      );
      z-index: 1;

      .sologan {
        color: var(--white);
        width: 270px;
        font-size: 25px;
        margin: 40px 0px 0px 35px;
      }
    }

    .rectangle2 {
      position: absolute;
      margin-left: 30%;
      width: 40%;
      height: 70%;
      border-radius: 30px;
      background-color: white;
      z-index: 1;

      .rectangle2-form {
        margin: 20px 44px 0px 44px;

        .choose-role {
          height: 40;
          width: 185px;
          margin: 50px 59%;
          position: relative;
          box-shadow: 0 0 20px 9px #ff61241f;
          border: 1px solid #f16736;
          border-radius: 30px;
          opacity: 1;

          .toggle-btn {
            padding: 10px 20px;
            cursor: pointer;
            background: transparent;
            border: 0;
            outline: none;
            position: relative;
            font-weight: 700;
          }

          .btn {
            height: 100%;
            background-image: linear-gradient(
              rgba(251, 188, 5),
              rgba(243, 128, 29),
              #ed3237
            );
            position: absolute;
            border-radius: 30px;
            transition: 0.5s;
          }
        }

        .button {
          .button-login {
            margin-right: 64px;
          }
        }

        .status-account {
          display: flex;
          margin: 3% 15%;

          h4 {
            color: rgb(111, 111, 218);
            margin-left: 5px;
          }
        }

        .form-login {
          margin: 20px 0px 20px 0px;
          width: 100%;

          .form {
            margin: 20px 0px 10px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          input[type="text"],
          input[type="password"],
          input[type="email"],
          [tabindex] {
            width: 100%;
            height: 30px;
          }
          input[type="checkbox"] {
            margin: 15px 5px 0px 0px;
          }
        }
        .remember-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
    .brand-login {
      transition: 0.5s;
    }
    .background-image {
      margin-top: 10%;
      margin-right: 38%;
      z-index: 2;
      height: 50%;
      width: 35%;
    }
  }
}
