:root {
  // color
  --Wheat-color: #f5d8ae;
  --SonicSilver-color: #7b7777;
  --Linear-orange-color: linear-gradient(
    180deg,
    #f0a237 0%,
    #f16736 50.31%,
    #ed3237 100%
  );
  //   --Inter-font-family: "Inter", sans-serif;
}
.register {
  width: 100%;
  height: 100vh;
  background-color: var(--Wheat-color);
  //   font-family: var(--Inter-font-family);
  & .container {
    width: 65%;
    // height: 50vh;
    // background-color: white;
    margin: 0 auto;
    border-radius: 20px;
    & .register-container {
      width: 65%;
      margin: 0 auto;
      height: 70vh;
      display: flex;
      position: relative;
      & .block-left {
        width: 40%;
        background: var(--Linear-orange-color);
        text-align: center;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        & .auth-title {
          padding-top: 70px;
          font-style: normal;
          font-weight: 800;
          font-size: 17px;
          line-height: 44px;
          letter-spacing: 0.1em;
          color: #ffffff;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        & .saly1-img {
          width: 42rem;
          object-fit: cover;
          position: absolute;
          z-index: 1;
          bottom: 0;
          left: 0;
          transform: translateX(-75px);
        }
      }
      & .block-right {
        width: 60%;
        background-color: white;
        border-radius: 30px;
        transform: translateX(-25px);
        & .block-container {
          width: 90%;
          height: 65vh;
          margin: 0 auto;
          margin-top: 70px;
          position: relative;
          .rectangle2-form {
            margin: 20px 44px 0px 44px;

            .choose-role {
              height: 40;
              width: 185px;
              margin: 50px 59%;
              position: relative;
              box-shadow: 0 0 20px 9px #ff61241f;
              border: 1px solid #f16736;
              border-radius: 30px;
              opacity: 1;

              .toggle-btn {
                padding: 10px 20px;
                cursor: pointer;
                background: transparent;
                border: 0;
                outline: none;
                position: relative;
                font-weight: 700;
              }

              .btn {
                height: 100%;
                background-image: linear-gradient(
                  rgba(251, 188, 5),
                  rgba(243, 128, 29),
                  #ed3237
                );
                position: absolute;
                border-radius: 30px;
                transition: 0.5s;
              }
            }

            .button {
              .button-login {
                margin-right: 64px;
              }
            }

            .status-account {
              display: flex;
              margin: 3% 15%;

              h4 {
                color: rgb(111, 111, 218);
                margin-left: 5px;
              }
            }

            .form-login {
              margin: 20px 0px 20px 0px;
              width: 100%;

              .form {
                margin: 20px 0px 10px 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;
              }

              input[type="text"],
              input[type="password"],
              input[type="email"],
              [tabindex] {
                width: 100%;
                height: 30px;
              }
              input[type="checkbox"] {
                margin: 15px 5px 0px 0px;
              }
            }
            .remember-container {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
