:root{
    --white:  rgba(255, 255, 255, 1.0);
    --primary: #F16736;;
    --black: #000;
    --text-color: #333;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
}
body{
    text-rendering: optimizeSpeed;
    font-family: 'ProximaNova', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color)
}
button, input,[tabindex]{
    outline: none;
    border: none;
}
a[href]{
    color: var(--text-color);
    text-decoration: none
}