:root{
    --small: 250px;
    --medium:350px;
    --large:435px;
}
.wrapper {
    padding-bottom: 10px;

}

.title {
    font-size: 20px;
    display: inline-block;
    padding: 5px 0 5px 0;
}
.star::after{
    content: " *";
    color: red;
    font-weight: bold;
}
.title::first-letter {

    text-transform: capitalize;
}

input {
    font-size: 17px;
    // border: 1px solid #c3c6d2 !important;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}
    .rounded {
        border-radius: 999px;
    }

    .primary {
        border-radius: 5px;
    }

    .def {
        border-radius: 0px;
    }


    //Disabled
input[type="date"]{
    padding: 3px 16px;
    color: #000;
}
    // input sizes
    .small {
        width: 250px;
        padding: 6px 16px;

    }

    .medium {
        width: 350px;
        padding: 6px 16px;


    }

    .large {
        padding: 6px 16px;
        width: 435px !important;

    }
    textarea{
        border-radius: 5px;
        width: 100%;
        padding: 6px 16px;
        // border: 1px solid #c3c6d2 !important;
        box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
        &:hover {
            border-color: rgba(22, 24, 35, 0.2);
            background-color: rgba(22, 24, 35, 0.03);
        }
    }
    @media screen and (max-width: 400px) {
        .large {
            width: 380px !important;
    
        }
        // textarea{
        //     width: 380px !important;
        // }
        .small {
            width: 380px !important;

    
        }
      }