/* Table Styles */
.table-wrapper{
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.1 );
  margin-bottom: 60px;
}

.btn-create{
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
}

.fl-table {
  font-weight: normal;
  border: none;
  width: 100%;
  max-width: 100%;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

.fl-table tr:hover {
  background-color: #f1efef;
  cursor: pointer;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  white-space: normal;

  & button {
    background-color: orangered;
    color: #f7f7f9;
    height: 40px;
    font-size: 18px;
    border-radius: 15px;
    padding: 0 15px;
  }
}

.fl-table thead th {
  color: black;
  background:  #95A5A6;
}


.fl-table tr:nth-child(even) {
  background: #f1efef;
}

/* Responsive */

@media screen and (max-width: 444px) {

  .fl-table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      display: block;
      text-align: right;
      font-size: 11px;
      // color: white;
      padding: 0 0 10px;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
  }
  .fl-table thead th:last-child{
      border-bottom: none;
  }
  .fl-table thead {
      float: left;
  }
  .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  .fl-table td, .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
      display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
      background: none;
  }
  .fl-table tr:nth-child(even) {
      background: transparent;
  }
  .fl-table tbody td {
      display: block;
      text-align: center;
  }

  .fl-table tbody {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
  }
  .fl-table tbody::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .fl-table tbody > * {
    scroll-snap-align: start;
  }
}

@media screen and (max-width: 768px) {
.fl-table td, .fl-table th {
font-size: 16px;
padding: 10px;
}
.fl-table td button {
  height: 30px;
  font-size: 14px;
  border-radius: 10px;
  padding: 5px 10px;
  }
  .fl-table {
    font-weight: normal;
    border: none;
    white-space: nowrap;
    width: 100%;
  }
}
