.same-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: calc(43 / 30);
  margin-bottom: 20px;
}

.hero {
  background: #eef4ff;
  padding-bottom: 200px;
}

.hero-container {
  width: 62%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 40px;
}

.hero-content {
  width: 100%;
  max-width: 555px;
}

.hero .content {
  width: 50%;
}

.hero-group-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-group-img img {
  width: 50px;
  height: 50px;
  border-radius: 999px;
}

.hero-image {
  width: 50%;
}

.hero-image .hero-background {
  position: absolute;
}

.hero-image .HeroBlock2 {
  right: 0;
  top: 0;
}

.hero-image .HeroBlock1 {
  -webkit-transform: translateX(70px) translateY(-194px);
          transform: translateX(70px) translateY(-194px);
}

.hero-image .HeroImg {
  -webkit-transform: translateX(25px) translateY(-248px);
          transform: translateX(25px) translateY(-248px);
}

.hero-image .hero-group {
  width: 269px;
  height: 120px;
  background: #eef4ff;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  -webkit-transform: translateX(-70px) translateY(250px);
          transform: translateX(-70px) translateY(250px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-image .image-avatar {
  position: absolute;
  margin: 60px 0 0 110px;
  height: 240px;
  width: 240px;
  border-radius: 100%;
}

.hero-button {
  height: 60px;
}

.hero .icon-play {
  min-width: 50px;
  height: 50px;
  border-radius: 999px;
}

.hero-heading {
  padding-top: 200px;
  font-size: 50px;
  line-height: calc(70 / 50);
  width: 530px;
  margin-bottom: 20px;
  color: black;
}

.hero-text {
  width: 500px;
}

.hero-desc {
  margin-top: 50px;
}

.hero-desc .hero-btn {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.hero-desc strong {
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .hero {
    padding-top: 70px;
    padding-bottom: 0;
  }
  .hero-container {
    width: 90%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hero-heading {
    font-size: 30px;
    line-height: calc(43 / 30);
    width: 400px;
    padding-top: 100px;
  }
  .hero-image > .HeroImg {
    -webkit-transform: none;
            transform: none;
  }
  .hero-image > .hero-group,
  .HeroBlock1,
  .HeroBlock2,
  .hero-text-small,
  .hero-btn > .icon-play {
    -webkit-transform: none;
            transform: none;
    display: none;
  }
  .hero-desc > .hero-btn {
    padding-top: 50px;
    padding-bottom: 50px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    padding-top: 10px;
    padding-bottom: 0;
  }
  .hero-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .hero-image > .HeroImg {
    -webkit-transform: none;
            transform: none;
    display: none;
  }
  .hero-heading {
    font-size: 30px;
    line-height: calc(43 / 30);
    width: 400px;
  }
  .hero-text {
    display: none;
  }
  .hero-desc > .hero-btn {
    padding-top: 0px;
  }
}

@media screen and (max-width: 400px) {
  .hero-heading {
    width: 300px;
  }
}

.partner {
  margin-top: 80px;
}

.partner-container {
  width: 62%;
  margin: 0 auto;
}

.partner-list-item {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 31px;
}

@media screen and (max-width: 1024px) {
  .partner-container {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .partner {
    margin-top: 10px;
  }
  .partner-list-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    margin-bottom: 30px;
  }
}

.booking {
  padding-top: 50px;
  padding-bottom: 121px;
}

.booking-container {
  width: 62%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booking-desc {
  margin-bottom: 23px;
}

.booking-list {
  list-style-type: none;
}

.booking-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 20px;
  margin-bottom: 21px;
  font-size: 14px;
}

.booking-item .ShoppingBagImg {
  background: #50cb93;
}

.booking-item .NotifyImg {
  background: #ff3d68;
}

.booking-item .PlannerImg {
  background: #7d83fc;
}

.booking-icon {
  width: 75px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.booking-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.booking-heading {
  width: 300px;
}

.booking-text {
  padding-top: 10px;
  width: 390px;
}

@media screen and (max-width: 1024px) {
  .booking {
    padding-bottom: 80px;
  }
  .booking-container {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .booking-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .booking-container {
    margin: 0;
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .booking-content {
    margin-top: 30px;
    width: 90%;
  }
  .booking-text {
    display: none;
  }
}

.boost {
  width: 62%;
  margin: 0 auto;
}

.boost-header {
  max-width: 555px;
  margin: 0 auto 60px;
  text-align: center;
  padding-left: 28px;
}

.boost-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 50px;
  margin-bottom: 100px;
}

.boost-item {
  -webkit-box-shadow: 0px 10px 50px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 50px 5px rgba(0, 0, 0, 0.15);
  background: #ffffff;
  border: 2px solid white;
  border-radius: 20px;
  padding: 35px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.boost-item .button {
  margin-top: 20px;
  color: var(--blue-color);
  font-weight: 700;
}

.boost-heading {
  width: 300px;
  margin: 0 auto;
}

.boost-text {
  padding-top: 30px;
  width: 350px;
  margin: 0 auto;
}

.boost-image {
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0px 26px 50px rgba(80, 203, 147, 0.25);
          box-shadow: 0px 26px 50px rgba(80, 203, 147, 0.25);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boost .Img2012 {
  background: #50cb93;
}

.boost .BitcoinImg {
  background: #7d83fc;
}

.boost .PieChartImg {
  background: #ff3d68;
}

.boost-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}

.boost-item:active, .boost-item:hover {
  border-color: #3e3fd8;
}

@media screen and (max-width: 1024px) {
  .boost {
    width: 90%;
  }
  .boost-list {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    overflow: auto;
    overflow-y: hidden;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    -ms-grid-columns: unset;
        grid-template-columns: unset;
    margin-bottom: 50px;
  }
  .boost-list::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .boost-list > * {
    scroll-snap-align: start;
  }
}

@media screen and (max-width: 400px) {
  .boost-header {
    text-align: start;
    padding-left: 0;
  }
  .boost-heading {
    margin: 0;
  }
  .boost-text {
    display: none;
  }
}

.solution-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.solution-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 20px;
}

.solution-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 170px;
  height: 100px;
  background: rgba(252, 221, 236, 0.5);
  border-radius: 25px;
}

.solution-heading-number {
  margin: 0;
  padding: 0;
}

.solution-heading {
  width: 350px;
}

.solution-text {
  padding-top: 10px;
  width: 550px;
}

@media screen and (max-width: 700px) {
  .heading {
    font-size: 25px;
  }
  .solution-container {
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .solution-text {
    display: none;
  }
  .solution-image {
    display: none;
  }
  .solution-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}

@media screen and (max-width: 400px) {
  .solution-heading {
    width: 100%;
  }
}

.testemonial {
  width: 62%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.testemonial .boxed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 20px;
  padding-bottom: 50px;
}

.testemonial-heading {
  letter-spacing: 0.5em;
  color: #3e3fd8;
}

.testemonial-item {
  padding: 30px;
}

.testemonial-top {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testemonial-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 20px;
}

.testemonial-avatar {
  width: 50px;
  height: 50px;
}

.testemonial-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100rem;
}

.testemonial-name, .testemonial-address {
  line-height: 1;
}

@media screen and (max-width: 1024px) {
  .testemonial {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .testemonial .container .boxed {
    text-align: start;
  }
}

.news-desc {
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-inf, .news-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 10px;
}

.news-heading {
  margin: 0 auto;
}

.news-text {
  padding-top: 30px;
  width: 520px;
  margin: 0 auto;
}

.news-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}

.news-item:active, .news-item:hover {
  border-color: #3e3fd8;
}

@media screen and (max-width: 400px) {
  .news-text, .subscribe-text {
    display: none;
  }
}

@media screen and (max-width: 1023.98px) {
  .Boost {
    padding: 50px 0;
  }
  .Boost-list {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    overflow: auto;
    overflow-y: hidden;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    -ms-grid-columns: unset;
        grid-template-columns: unset;
    margin-bottom: 50px;
  }
  .Boost-list::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .Boost-list > * {
    scroll-snap-align: start;
  }
}

.subscribe {
  width: 62%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.subscribe .boxed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 20px;
  padding-bottom: 50px;
}

.subscribe-text {
  margin: 0 auto;
  width: 520px;
}

.subscribe-heading {
  color: #3e3fd8;
}

.subscribe-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 740px;
  height: 73px;
  margin: 0 auto;
  border: 2px solid #61646b;
  border-radius: 50px;
  padding: 13px 2px 13px 20px;
  background-color: white;
}

.subscribe-input {
  padding: 13px;
  background-color: white;
}

.subscribe-submit {
  cursor: pointer;
  padding: 0 30px;
  width: 166px;
  height: 65px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f0a237), color-stop(50.52%, #f16736), to(#ed3237));
  background: linear-gradient(180deg, #f0a237 0%, #f16736 50.52%, #ed3237 100%);
  border-radius: 50px;
  color: white;
}

.subscribe-submit:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#e09e42), color-stop(50.52%, #b95834), to(#c73c41));
  background: linear-gradient(180deg, #e09e42 0%, #b95834 50.52%, #c73c41 100%);
  color: white;
}

@media screen and (max-width: 1024px) {
  .subscribe {
    width: 90%;
  }
  .subscribe-group {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  .subscribe .boxed {
    text-align: start;
  }
  .subscribe-text {
    margin: 0;
  }
  .subscribe-group {
    height: 40px;
  }
  .subscribe-submit {
    padding: 0 10px;
    height: 34px;
  }
}
/*# sourceMappingURL=HomeStyles.module.css.map */