@import "./Login/LoginStyle.module.scss";
@import "./ForgotPassword/ForgotPassword.module.scss";

.choose-role {
  height: 40;
  width: 185px;
  margin: 50px 59%;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border: 1px solid #f16736;
  border-radius: 30px;
  opacity: 1;
  transition: 0.5s;

  .toggle-btn {
    padding: 10px 20px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-weight: 700;
  }

  .btn {
    height: 100%;
    background-image: linear-gradient(
      rgba(251, 188, 5),
      rgba(243, 128, 29),
      #ed3237
    );
    position: absolute;
    border-radius: 30px;
    transition: 0.5s;
  }
}

.form {
  margin: 20px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  display: flex;
  justify-content: space-between;
}
.btn-submits {
  margin: 0px 0 30px 0;
}
.btn-submit {
  width: 100%;
  margin: 20px 0px 0px 0px;
}

.status-account {
  display: flex;
  margin-top: 3%;
  justify-content: center;
  padding-bottom: 50px;

  h4 {
    color: rgb(111, 111, 218);
    margin-left: 5px;
  }
}

@media screen and (max-width: 400px) {
  .choose-role {
    margin: 20px auto;
  }

  .status-account {
    margin: 10px 0px 20px 0px;
  }
}
