@import "normalize.css";

:root {
  --white: rgba(255, 255, 255, 1);
  --primary: #f16736;
  --black: #000;
  --text-color: #333;
  --blue-color: rgba(62, 63, 216, 1);
  --Linear-orange-color: linear-gradient(
    180deg,
    #f0a237 0%,
    #f16736 50.83%,
    #ed3237 100%
  );
  --Linear-orange-color-right: linear-gradient(to right, #f0a237 0%,#f16736 20%,#ed3237 20%, #ddd 20%,#ddd 100%);

  --Light-notify: hsl(0, 0%, 100%);
  --Background-notify: linear-gradient(to right bottom, hsl(19, 79%, 64%), hsl(27, 40%, 74%));
}

* {
  margin: 0;
  padding: 0;
}

.heading {
  font-weight: 700;
  font-size: 30px;
  line-height: calc(43 / 30);
  margin-bottom: 20px;
  text-transform: capitalize;
}

.heading-small {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(29 / 20);
}

.text {
  font-size: 18px;
  line-height: calc(26 / 18);
  color: #61646b;
}

.text-medium {
  font-weight: 500;
}

.animation {
  transform-origin: 0 0;
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.required {
  color: rgba(255, 0, 0, 0.83);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  // font-family: "Inter", sans-serif;
  font-family: 'Poppins', sans-serif;
  text-rendering: optimizeSpeed;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--text-color);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
[tabindex] {
  width: 100%;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}
li {
  list-style: none;
}
input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button, a {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}
