// *,
// *::after,
// *::before {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// html {
//   font-size: 62.5%;
// }


.modal-container {
  position: absolute;
  // left: 20000;
  right: 0;
  // z-index: 100000;
  width: 45%;
  height: 100%;
  margin-top: 200px;

}

// .modal-container:target {
//   display: flex;
//   z-index: 100000 ;
// }
.modal {
  width: 80%;
  padding: 4rem 2rem;
  border-radius: .8rem;
  color: var(--Light-notify);
  background: var(--Background-notify);
  box-shadow: .4rem .4rem 2.4rem .2rem hsla(236, 50%, 50%, 0.3);
  position: relative;
  overflow: hidden;
  text-align: right;

}

.modal__details {
  text-align: center;
  margin-bottom: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid hsla(0, 0%, 100%, .4);
}

.modal__title {
  font-size: 3.2rem;
}

.modal__description {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-style: italic;
}


.modal__body {
  width: 100%;
  height: 100%;
  // overflow-y: scroll;
}

.link-2 {
  width: 4rem;
  height: 4rem;
  border: 1px solid hsla(0, 0%, 100%, .4);
  border-radius: 100rem;

  color: inherit;
  font-size: 2.2rem;

  position: absolute;
  top: 2rem;
  right: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .2s;
}

.link-2::before {
  content: '×';

  transform: translateY(-.1rem);
}

.link-2:hover,
.link-2:focus {
  border-color: hsla(0, 0%, 100%, .6);
  transform: translateY(-.2rem);
}
