:root {
  // color
  --Wheat-color: #f5d8ae;
  --SonicSilver-color: #7b7777;
  --Linear-orange-color: linear-gradient(
    180deg,
    #f0a237 0%,
    #f16736 50.31%,
    #ed3237 100%
  );
//   --Inter-font-family: "Inter", sans-serif;
}
.personalInfor {
  width: 100%;
  height: 100vh;
  background-color: var(--Wheat-color);
//   font-family: var(--Inter-font-family);
  & .container {
    width: 65%;
    // height: 50vh;
    // background-color: white;
    margin: 0 auto;
    border-radius: 20px;
    & .personalInfor-container {
      width: 65%;
      margin: 0 auto;
      height: 70vh;
      display: flex;
      position: relative;
      & .block-left {
        width: 40%;
        background: var(--Linear-orange-color);
        text-align: center;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        & .personalInfor-title {
          padding-top: 70px;
          font-style: normal;
          font-weight: 800;
          font-size: 17px;
          line-height: 44px;
          letter-spacing: 0.1em;
          color: #ffffff;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        & .saly1-img {
          width: 42rem;
          object-fit: cover;
          position: absolute;
          z-index: 1;
          bottom: 0;
          left: 0;
          transform: translateX(-75px);
        }
      }
      & .block-right {
        width: 60%;
        background-color: white;
        border-radius: 30px;
        transform: translateX(-25px);
        & .block-container {
          width: 90%;
          height: 65vh;
          margin: 0 auto;
          margin-top: 70px;
          position: relative;
          & .dots {
            display: flex;
            gap: 3px;
            & .dot {
              height: 7px;
              width: 7px;
              background-color: #bbb;
              border-radius: 100rem;
            }
            & .active {
              background: var(--Linear-orange-color);
              width: 20px;
            }
          }
          & .information {
            // position: relative;
            // z-index: 100;
            & .information-title {
              margin-top: 20px;
              background: linear-gradient(
                180deg,
                #f0a237 0%,
                #f16736 50.83%,
                #ed3237 100%
              );
              background-clip: text;
              color: transparent;
              font-style: normal;
              font-weight: 800;
              font-size: 17px;
              line-height: 44px;
              letter-spacing: 0.1em;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              text-align: center;
            }
            & .form {
              display: flex;
              //   background-color: red;
              width: 90%;
              margin: 0 auto;
              justify-content: space-between;
              & .form-control-left {
              }
              & .form-group {
                display: flex;
                flex-direction: column;
                & .form-label {
                  color: var(--SonicSilver-color);
                  font-style: normal;
                  font-weight: 700;
                  font-size: 13px;
                  line-height: 51px;
                }
                & .form-input {
                  color: black;
                  background: #ffffff;
                  border: 2px solid #b4aeae;
                  border-radius: 99px;
                  width: 185px;
                  height: 40px;
                  font-weight: 500;
                  font-style: normal;
                  font-size: 13px;
                  //   text-align: center;
                  padding: 13px;
                }
                & .input-radio{
                    
                }
              }
              & .form-control-right {
                margin-top: 198px;
              }
            }
            & .submit {
              text-align: center;
              margin-top: 50px;
            }
          }
        }
      }
    }
  }
}
