.verifyAccount {
  // position: relative;
  // z-index: 100;
  & .verifyAccount-title {
    margin-top: 20px;
    background: linear-gradient(
      180deg,
      #f0a237 0%,
      #f16736 50.83%,
      #ed3237 100%
    );
    background-clip: text;
    color: transparent;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 44px;
    letter-spacing: 0.1em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
  }
  & .termsOfService {
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    font-style: normal;
    font-size: 17px;
    line-height: 37px;
    // color: var();
    color: var(--SonicSilver-color);
    display: flex;
    flex-direction: row;
    & .input-checkbox {
      width: 20px;
      height: 20px;
    }
    & .text-input-checkbox {
      padding-left: 30px;
    }
  }
  & .submit {
    text-align: center;
    margin-top: 50px;
  }
}
