.profile-setting {
  padding-top: 100px;

  &-container {
    max-width: 1585px;
    margin: 0 auto;
  }

  & .profile-title {
    margin: 20px 0;
    cursor: pointer;
    font-size: 20px;
  }

  & .profile-title::after {
    content: " ";
    background: var(--primary);
    height: 2px;
    width: 0;
    display: block;
    margin: auto;
    transition: 0.5s;
  }

  & .profile-title:hover::after {
    width: 100%;
  }
}

select {
  width: 100%;
  padding: 6px 16px;
  border-radius: 5px;
  border: 1px solid #afafaf;
  font-size: 16px;
}

option {
  padding: 6px 16px;
}

.nav-editProfile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.icon-menu {
  display: none;
}

@media screen and (min-width: 1025px) {
  .profile-setting-container {
    width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .profile-setting-container {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .profile-setting {
    & .profile-info {
      width: 380px;
      margin: 5px;
    }
  }

  .icon-menu {
    padding: 5px;
    margin: 5px 5px 20px 5px;
    display: block;
    position: absolute;
  }

  .nav-editProfile {
    background-color: rgb(241, 123, 63);
    // position: absolute;
    padding: 5px !important;
    margin: 5px 5px 0px 5px;
    flex-direction: column;
    font-size: 10px;
    width: 380px;
    // margin: 5px;
    h3 {
      color: var(--white) !important;
    }
  }
}
