.modal-content {
    background-color: #fefefe;
    margin-left: 200px; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

.form-feedback {
    width: 400px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}
form p{
    font-size:20px;
    font-weight: 500;
}
.active {
    display: block;
}

.disable {
    display: none;
}