.footer {
  padding-bottom: 30px;
  background-color: rgba(240, 162, 55, 0.8);
  padding-top: 202px;
  color: white;
  & .container {
    display: flex;
    justify-content: space-around;
  }
  &-container {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-gap: 0 110px;
  }
  &-logo {
    display: inline-block;
    margin-bottom: 20px;
  }
  &-desc {
    margin-bottom: 22px;
    width: 316px;
  }
  &-heading {
    margin-bottom: 20px;
  }
  &-links {
    list-style-type: none;
  }
    color: white;
  &-item {
    margin-bottom: 10px;
  }
  &-link {
    color: inherit;
    line-height: calc(30 / 16);
  }
  .social {
    display: flex;
    gap: 20px;
    // gap: 0 20px;
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 999px;
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
      border: 1px solid white;
    }
  }
  .copyright {
    margin-top: 50px;
    color: white;
    text-align: center;
  }
}

@media screen and (max-width: 1023.98px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 10px;
  }
  .footer-container {
    grid-template-columns: 100%;
  }
}
