@import "../../view/pages/Auth/Auth.module.scss";
:root {
  // color
  --Wheat-color: #f5d8ae;
  --SonicSilver-color: #7b7777;
  --Linear-orange-color: linear-gradient(
    180deg,
    #f0a237 0%,
    #f16736 50.31%,
    #ed3237 100%
  );
  //   --Inter-font-family: "Inter", sans-serif;
}
.auth {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
    rgba(251, 188, 5, 0.22),
    rgba(243, 128, 29, 0.3735),
    rgba(251, 188, 5, 0.22)
  );

  .logo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 13px;
  }

  .container {
    width: 65%;
    display: flex;
    justify-content: center;

    .auth-img {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      padding: 3rem;
      background-image: linear-gradient(
        rgb(251, 188, 5),
        rgb(243, 128, 29),
        rgb(251, 188, 5)
      );
      position: relative;

      .auth-title {
        color: var(--white);
        font-size: 25px;
        position: absolute;
        top: 30px;
        width: 320px;
        text-align: start;
      }
      img {
        z-index: 100;
        padding-top: 150px;
      }
    }

    .auth-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: end;
      text-align: center;
      border-radius: 50px;
      background-color: white;
      transform: translateX(-50px);
      padding: 3rem;
    }
  }

  @media screen and (max-width: 1000px) {
    .auth-content {
      justify-content: center;
    }
  }

  @media screen and (max-width: 400px) {
    .container {
      justify-content: start;
    }
  }

  @media screen and (max-width: 1364px) {
    .logo {
      display: none;
    }
    .container .auth-img {
      display: none;
    }
    .container {
      width: 100%;
    }
    .container .auth-content {
      transform: translateX(0);
    }
  }
  // .logo {
  //   margin-left: 44px;
  //   font-weight: 700;
  //   background: -webkit-linear-gradient(#f16736, #f0a237, #ed3237);
  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;
  // }

  // .content {
  //   display: flex;
  //   justify-content: space-around;
  //   align-content: center;
  //   position: relative;
  //   height: 657px;
  // }

  // .image {
  //   margin: 180px 510px 0px 0px;
  //   position: absolute;
  //   z-index: 2;
  //   width: 400px;
  //   height: 500px;
  // }

  // .sologan {
  //   width: 350px;
  //   border-top-left-radius: 30px;
  //   border-bottom-left-radius: 30px;
  //   background-image: linear-gradient(
  //     rgba(251, 188, 5),
  //     rgba(243, 128, 29),
  //     rgba(251, 188, 5)
  //   );
  //   z-index: 1;

  //   .welcome {
  //     color: var(--white);
  //     width: 270px;
  //     font-size: 25px;
  //     margin: 40px 0px 0px 35px;
  //   }
  // }

  // .forms {
  //   margin-left: -10%;
  //   width: 500px;
  //   border-radius: 30px;
  //   background-color: white;
  //   z-index: 1;
  //   padding: 0 40px 0 40px;
  // }
}
