.remember-container {
  padding: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.title {
  text-align: start;
  padding: 3rem 0;
}

.form {
  width: 460px;
}

.input-div {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 93% 7%;
      grid-template-columns: 93% 7%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.div-icon {
  color: #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div-icon .icon {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > .div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.input-div::before,
.input-div::after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.input-div::before {
  right: 50%;
}

.input-div::after {
  left: 50%;
}

.focus::before,
.focus::after {
  width: 50%;
}

.focus > .div > h5 {
  top: -15px;
  font-size: 15px;
}

.focus > .div-icon > .icon {
  color: #f16736;
}

.input-div > .div > .input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 18px;
  color: #555;
}

.input-div .pass {
  margin-bottom: 4px;
}

.forgot-password {
  display: block;
  text-align: right;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.forgot-password:hover {
  color: #f16736;
}

.btn {
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  margin: 1rem 0;
}

.btn:hover {
  background-position: right;
}

.status-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.status-account h4 {
  color: #6f6fda;
  margin-left: 5px;
}

@media screen and (max-width: 1000px) {
  .form {
    width: 290px;
  }
  .title {
    font-size: 2.4rem;
    margin: 8px 0;
  }
}

.choose-role {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  border-radius: 30px;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}

.choose-role-label {
  color: black;
  display: inline-block;
  font-size: 18px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.choose-role-input[type="radio"] {
  display: none;
}

.choose-role-input[type="radio"] + .choose-role-label {
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.choose-role-input[type="radio"]:checked + .choose-role-label {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fbbc05), color-stop(#f3801d), to(#ed3237));
  background-image: linear-gradient(#fbbc05, #f3801d, #ed3237);
  border-color: #ff6600;
  color: white;
}

.btn-submits {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

:root {
  --Wheat-color: #f5d8ae;
  --SonicSilver-color: #7b7777;
  --Linear-orange-color: linear-gradient(
    180deg,
    #f0a237 0%,
    #f16736 50.31%,
    #ed3237 100%
  );
}

.auth {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(251, 188, 5, 0.22)), color-stop(rgba(243, 128, 29, 0.3735)), to(rgba(251, 188, 5, 0.22)));
  background-image: linear-gradient(rgba(251, 188, 5, 0.22), rgba(243, 128, 29, 0.3735), rgba(251, 188, 5, 0.22));
}

.auth .logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 13px;
}

.auth .container {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.auth .container .auth-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 3rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fbbc05), color-stop(#f3801d), to(#fbbc05));
  background-image: linear-gradient(#fbbc05, #f3801d, #fbbc05);
  position: relative;
}

.auth .container .auth-img .auth-title {
  color: var(--white);
  font-size: 25px;
  position: absolute;
  top: 30px;
  width: 320px;
  text-align: start;
}

.auth .container .auth-img img {
  z-index: 100;
  padding-top: 150px;
}

.auth .container .auth-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  text-align: center;
  border-radius: 50px;
  background-color: white;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  padding: 3rem;
}

@media screen and (max-width: 1000px) {
  .auth .auth-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .auth .container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media screen and (max-width: 1364px) {
  .auth .logo {
    display: none;
  }
  .auth .container .auth-img {
    display: none;
  }
  .auth .container {
    width: 100%;
  }
  .auth .container .auth-content {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=RegisterLayout.module.css.map */