/* slick slider */
.slick-slide>div {
    border: 2px solid gray;
    border-radius: 10px;
    padding-bottom: 30px;
}

.slick-current>div {
    border-color: red;
}

.slick-list {
    margin: 0 -10px;
}

.slick-track {
    display: flex;
    gap: 0 50px;
    padding-bottom: 200px;
}


.slick-arrow {
    /* width: 60px;
    height: 60px;
    border-radius: 100rem;
    margin-top: 50px;
    z-index: 10;
    border: 1px solid red; */
}

.slick-prev {
    left: 0;
}

.slick-next {
    left: 0;
    margin-left: 70px;
}

.slick-prev:hover {}

.slick-next:hover {}


.slick-prev::before {
    display: none;

}

.slick-next::before {
    display: none;
}

.slick-prev:hover::before {}

.slick-next:hover::before {}

.slick-dots {}

.slick-dots li {}

.slick-dots li button::before {
    font-size: 0;
}

.slick-dots li button {
    font-size: 0;

}

.slick-dots .slick-active button {}


@media screen and (max-width: 1280px) {
    .slick-slide>div {
        padding-bottom: 10px;
    }
}