.inner {
  padding-bottom: 100px;
  width: 62%;
  margin: 0 auto;
  .heading {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: calc(70 / 50);
    color: #f0a237;
  }

  .infor-container,
  .socialMedia-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0 40px;
  }

  .myServices-container,
  .feedBack-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

////intro

.intro {
  padding-bottom: 100px;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 40px;
  }

  &-content {
    width: 100%;
    max-width: 555px;
  }

  &-image {
    padding-top: 25px;
    position: relative;

    .image-background {
      z-index: -1;
      width: 500px;
    }

    .image-avatar {
      position: absolute;
      margin: 60px 0 0 110px;
      height: 240px;
      width: 240px;
      border-radius: 100%;
    }
  }

  &-button {
    margin-top: 10px;
  }

  &-heading {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: calc(70 / 50);
    color: red;
  }

  &-desc {
    line-height: calc(30 / 16);
    margin-bottom: 50px;
    width: 533px;

    strong {
      font-weight: 500;
    }
  }
}

// ------Profile Personal Information --------------

.infor {
  &-content {
    width: 100%;
    max-width: 555px;
  }

  &-desc {
    display: flex;
    justify-content: center;

    p {
      width: 500px;
      margin-bottom: 10px;
    }
  }

  &-detail {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 50px;

    .label-infor {
      padding-bottom: 15px;
      width: 250px;
    }
  }
}

// //-----------------------Social Media--------------------
.socialMedia {
  &-content {
    width: 100%;
    max-width: 600px;
  }

  .default {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0 100px;
    margin-bottom: 25px;
    border-radius: 50px;
  }

  .facebook {
    background-color: rgba(196, 196, 237, 0.3);

    .socialMedia-icon {
      border-color: blue;
    }
  }

  .instagram {
    background-color: rgba(237, 228, 196, 0.3);

    .socialMedia-icon {
      border-color: #f0a237;
    }
  }

  .youtube {
    background-color: rgba(237, 196, 196, 0.3);

    .socialMedia-icon {
      border-color: red;
    }
  }

  .tiktok {
    background-color: rgba(98, 98, 112, 0.3);

    .tiktok-btn {
      background-color: transparent;
    }
  }

  &-icon {
    background-color: white;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;

    img {
      width: 60px;
    }
  }
}

// //-----------------------Gender Ratio
.genderRatio {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 100px;
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
  }
}

// //-------------------My Services---------------
.myServices {
  .services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
  }

  .service {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .service-point {
    width: 75px;
    height: 60px;
    background-color: #f16736;
    margin: 10px;
    border-radius: 10px;
  }
}

// //-----------------Campaign joined--------------
.campaignJoined {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .campaigns {
    padding: 5px;
    margin: 10px;
    width: 400px;
    padding: 10px;
    border-color: #f0a237;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    transition: transform 0.2s;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      border: 1px solid #f16736;
      box-shadow: 0px;
    }

    .campaign {
      padding: 10px;
    }

    .campaign-body {
      margin: 20px 0px 20px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  img {
    width: 100%;
  }
}

// //----------------FeedBack---------------------
.feedBack {
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .feedBack {
    padding: 5px;
    width: 400px;
    margin: 10px;
    background-color: var(--white);
    box-shadow: 1px 1px 1px #d2d6dd;
    border-radius: 20px;
    transition: transform 0.2s;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      border: 1px solid #f16736;
      box-shadow: 0px;
    }
  }

  &-infor {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0 10px;
  }

  &-avatar {
    width: 60px;
    border-radius: 100%;
  }

  &-star {
    color: #f0a237;
  }
}

// -------------Responsive-------------
@media screen and (max-width: 1024px) {
  .intro-image {
    transform: none;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 800px) {
  .intro-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .intro {
    padding-bottom: 10px;
    text-align: center;
  }

  //Infor
  .infor-detail {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .infor-desc {
    max-width: 800px;
  }

  .infor-detail {
    text-align: center;
    align-items: center;
    gap: 0 50px;
  }

  //Social Media
  .default {
    padding: 10px;
    flex-direction: column;
    border-radius: 10px !important;
    text-align: center;
    width: 400px;

    h5,
    h6 {
      padding: 10px;
    }
  }
}

@media screen and (max-width: 400px) {
  .inner {
    padding-bottom: 30px;
  }

  //Intro
  .intro-heading {
    font-size: 25px;
  }

  .intro-desc {
    max-width: 380px;
  }

  .intro-image {
    .image-background {
      width: 400px;
    }

    .image-avatar {
      margin: 30px 0 0 105px;
      height: 180px;
      width: 180px;
    }
  }

  .heading {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: calc(70 / 50);
    color: #f0a237;
  }

  // Infor
  .infor {
    .content {
      max-width: 360px;
    }
  }

  //Social Media
  .subcribles {
    width: 300px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .interaction {
    width: 300px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .user {
    width: 300px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ///GenderRatio
  .genderRatio {
    .content {
      gap: 0 50px;
    }
  }

  //MyService
  .services {
    flex-direction: column;
  }

  .service {
    width: 400px;
  }

  .service-point {
    width: 90px !important;
  }

  //Campaign joined
  .campaignJoined {
    .content {
      flex-direction: column;
    }

    .campaigns {
      width: 360px;
    }
  }

  .feedBack {
    .content {
      flex-direction: column;
    }

    .feedBack {
      width: 360px;
    }
  }
}
