.profile {
  &-container {
  }
  &-title {
    margin: 20px 0;
  }
  & .form-inf {
    display: flex;
    justify-content: space-between;
    & .form-group {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 20px;
      & .form-label {
        & .required {
        }
      }
      & .form-input-img{
        display: flex;
        & .img-thumbnail{
          width: 100px;
          height: auto;
        }
      }
      & .form-input {
        background: #ffffff;
        border: 1px solid #c3c6d2;
        border-radius: 3px;
        width: 540px;
        height: 44px;
        padding: 13px;
      }
      & .input-radios {
        padding-bottom: 16px;
        display: flex;
        gap: 80px;

        & .radio-group {
          display: flex;
          gap: 5px;

          & .label-radio {
            font-style: normal;
            font-weight: 500;
            color: var(--SonicSilver-color);
          }

          & .radio {
            width: 20px;
            background: transparent;
            opacity: 1;
            border: 2px solid #578bb9;
          }
        }
      }
      & .form-date{
        display: flex;
        gap: 0 10px;
      }
    }
    & .form-control-left {
      
    }
    & .form-control-right {
    }
  }
  & .submit-inf {
    margin: 20px 0;
  }
  & .submit-change-password {
    margin: 20px 0;
  }
}
